# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*
!.env.example

# API Configuration
public/api-config.js

# Build files
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
